.ship-card {
  justify-content: center;
  align-items: center;
  font-size: small;
}

.card-container {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  font-size: small;

}

.ship-details {
  color: yellow;
}

body {
  background-color: black;
}

button {
  background-color: yellow;
  border-width: 0;
  margin: 10px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color:indigo;
}